* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #faf9f9;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.errors {
  color: red;
}

iframe {
  display: none;
}

button:hover {
  background-color: #376789;
}

button:active {
  background-color: #4684af;
}
